################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoodTracker_MVC/FileContentIndex/8214c7d9-ffd9-4586-9126-3f178024f6ee.vsidx
